{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_container %}
    {{ parent() }}

    {% block buy_widget_buy_container_pdf_datasheet %}
        <div class="d-grid gap-2 mt-3">
            <a href="{{ path('frontend.pdf_datasheet.get', { 'productNumber': product.productNumber, 'slug': (product.translated.name|pdf_slugify) }) }}"
               class="btn btn-outline-secondary"
               target="_blank"
               title="{{ 'TopdataPdfDatasheetSW6.buttonLabel'|trans }}">
                <img src="{{ asset('bundles/topdatapdfdatasheetsw6/pdf-download-focus.svg') }}" alt="{{ 'TopdataPdfDatasheetSW6.buttonLabel'|trans }}" class="me-2" width="16" height="16">
                {{ 'TopdataPdfDatasheetSW6.buttonLabel'|trans }}
            </a>
        </div>
    {% endblock %}
{% endblock %}
